footer {
  width: 100%;
  height: pxTorem(50px);
  line-height: pxTorem(50px);
  // @include box_flex;
  // @include justify(space-around);
  display: flex !important;
  flex-direction: row;
  dl {
    text-align: center;
    width: 20%;
    dd {
      font-size: pxTorem(12px);
      a {
        color: #333;
      }
    }
  }
}

.active{
  color: rgb(59, 147, 235)!important;
}
