@import "./minix";
@import "./common.scss";
.collect-main {
  width: 100%;
  height: 100%;
}
.collect-top {
  box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.12),
    0 0 6px 0 rgba(8, 7, 7, 0.04);
  width: 100%;
  height: pxTorem(40px);
  line-height: pxTorem(40px);
  background: white;
  z-index: 999;
  position: fixed;
  top: 0;
  .over {
    display: inline-block;
    width: 15%;
    font-size: pxTorem(14px);
    padding-left: 5%;
  }
  span:nth-child(2) {
    display: inline-block;
    text-align: center;
    width: 67%;
  }
}
.collect-list {
  margin-top: pxTorem(40px);
  width: 100%;
}
.lists {
  width: 100%;
  height: pxTorem(80px);
  display: flex;
  dl {
    width: 100%;
    display: flex;
    dt {
      width: 30%;
      height: 100%;
      > img {
        display: block;
        width: 80%;
        height: pxTorem(60px);
      }
    }
    .right {
      width: 80%;
      font-size: pxTorem(13px);
      p {
        line-height: pxTorem(18px);
        text-indent: 3%;
      }
      p:nth-child(2) {
        color: #777;
      }
      .money {
        color: red;
        margin-left: -1%;
      }
    }
  }
}
