@import "./minix";
@import "./common.scss";
#root{
    width:100%;
    height:100%;
    font-size:pxTorem(14px);
}
.wrap{
    width:100%;
    height:100%;
    @include direction(column);
    @include box_flex;
}
header{
    width:100%;
    height:pxTorem(200px);
    .swiper-container{
        width:100%;
        height:pxTorem(200px);
        .swiper-wrapper{
            width:100%;
            height:pxTorem(200px);
            .swiper-slide{
                width:100%;
                height:100%;
                >img{
                    width:100%;
                    height:100%;
                }
            }
        }
    }
}
section{
    width:100%;
    height:70%;
    .list{
        width:100%;
        height:pxTorem(44px);
        line-height:pxTorem(44px);
        @include box_flex;
        @include justify(space-around);
    }
}
footer{
    width:100%;
    height:pxTorem(50px);
    line-height:pxTorem(50px);
    @include box_flex;
    @include justify(space-around);
}