@import "./minix";
@import "./common.scss";

.shop {
  width: 100%;
  height: 100%;
}
.starts {
  width: 100%;
  height: pxTorem(45px);
  line-height: pxTorem(45px);
  background: rgb(231, 235, 235);
  display: flex;
  p {
    flex: 1;
    font-size: pxTorem(12px);
    text-align: center;
    span {
      color: red;
    }
  }
}
.car {
  margin-top: pxTorem(10px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow: hidden;
}
.car > section {
  width: 100%;
  height: pxTorem(80px);
  display: flex;
  flex-wrap: wrap;
  .checks {
    width: 12%;
    height: pxTorem(80px);
    .check {
      display: block;
      width: 50%;
      height: pxTorem(20px);
      border-radius: 50%;
      background: rgb(171, 17, 17);
      line-height: pxTorem(20px);
      text-align: center;
      color: white;
      font-size: pxTorem(12px);
      margin-top: 55%;
      margin-left: 20%;
    }
    .active {
      display: block;
      width: 50%;
      height: pxTorem(20px);
      border-radius: 50%;
      background: white;
      line-height: pxTorem(20px);
      text-align: center;
      color: white;
      font-size: pxTorem(12px);
      margin-top: 55%;
      margin-left: 20%;
      border: pxTorem(1px) solid #ccc;
    }
  }
  .left {
    width: 25%;
    background: rgb(236, 234, 234);
    height: pxTorem(80px);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right {
    width: 63%;
    font-size: pxTorem(12px);
    span {
      display: inline-block;
    }
    .name {
      width: 60%;
      font-size: pxTorem(12px);
      overflow: hidden; /*超出部分隐藏*/
      text-overflow: ellipsis; /* 超出部分显示省略号 */
      white-space: nowrap; /*规定段落中的文本不进行换行 */
      line-height: pxTorem(30px);
      margin-left: 3%;
    }
    span:nth-child(2) {
      width: pxTorem(25px);
      margin-left: 20%;
    }
  }
}
.moneys {
  margin-left: 3%;
  line-height: pxTorem(50px);
  .it_price {
    color: red;
  }
  .carss {
    display: inline-block;
    width: 30%;
    margin-left: 50%;
    span {
      display: inline-block;
      font-size: pxTorem(16px);
      color: black;
    }
  }
}
.bottom {
  width: 100%;
  height: pxTorem(60px);
  background: rgb(231, 235, 235);
  display: flex;
  .checks {
    width: 12%;
    .check {
      display: block;
      width: 50%;
      height: pxTorem(20px);
      border-radius: 40%;
      background: rgb(171, 17, 17);
      line-height: pxTorem(20px);
      text-align: center;
      color: white;
      font-size: pxTorem(12px);
      margin-top: 50%;
      margin-left: 20%;
    }
    .active {
      display: block;
      width: 50%;
      height: pxTorem(20px);
      border-radius: 50%;
      background: white;
      line-height: pxTorem(20px);
      text-align: center;
      color: white;
      font-size: pxTorem(12px);
      margin-top: 40%;
      margin-left: 20%;
      border: pxTorem(1px) solid #ccc;
    }
  }
  .sec {
    width: 88%;
    height: 100%;
    display: flex;
  }
}
.num {
  height: pxTorem(14px);
  width: 40%;
  margin-top: 6%;
}
.bianji {
  font-size: pxTorem(14px);
  width: 15%;
  margin-top: 6%;
}
.btn {
  width: 40%;
  height: 100%;
  margin-left: 5%;
  background: rgb(169, 46, 46);
  line-height: pxTorem(50px);
  text-align: center;
  color: white;
}
