@import "./minix";
@import "./common.scss";
#root {
  width: 100%;
  height: 100%;
  font-size: pxTorem(14px);
}
.spe-main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.spe-container {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
footer {
  width: 100%;
  height: pxTorem(50px);
  line-height: pxTorem(50px);
  display: flex !important;
  flex-direction: row;
  dl {
    text-align: center;
    width: 20%;
    dd {
      font-size: pxTorem(12px);
      color: #333;
    }
  }
}
.everyCont {
  width: 100%;
  height: pxTorem(258px);
  .img {
    display: block;
    width: 100%;
    height: pxTorem(180px);
  }
  p {
    width: 80%;
    margin-left: 10%;
    overflow: hidden; /*超出部分隐藏*/
    text-overflow: ellipsis; /* 超出部分显示省略号 */
    white-space: nowrap; /*规定段落中的文本不进行换行 */
    line-height: pxTorem(25px);
    font-size: pxTorem(12px);
    text-align: center;
  }
  .money {
    color: red;
    line-height: pxTorem(20px);
  }
  .subtitle {
    color: #999;
  }
}
